<%= render "layouts/errors", :object => @place %>

<%= form_for [@place, @route], remote: true do |f| %>

  <div class="field">
    <%= f.label :kind %>
    <%= f.text_field :kind %>
  </div>

  <div class="field">
    <%= f.label :grade %>
    <%= f.text_area :grade %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-submit" %>
  </div>
<% end  %>
