<%= render "layouts/errors", :object => @place %>

<%= form_for [@place, @route], remote: true do |f| %>

  <div class="form-group">
    <%= f.label :kind %>
    <%= f.text_field :kind, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :grade %>
    <%= f.text_area :grade, :class => "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit :class=> "btn btn-default generic" %>
  </div>
<% end  %>
