<div id="route_info">
  <p>
    <strong>Type of Climbing:</strong>
    <%= @route.kind %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= @route.grade %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= @route.place.name %>
  </p>
</div>

<%= link_to 'Edit', edit_place_route_path(@route), id: "edit_place_route_link", :class=> "btn btn-default", remote: true  %> |
<%= link_to 'Delete', place_route_path(@route),:data => {:confirm => "You sure?", :method => 'delete'}, :class=> "btn btn-default" %>
