<div id= "place_name">
  <h1><%= @place.name %></h1>
</div>

<% if @place.routes.any? %>

<ul id="routes">
  <% @place.routes.each do |route| %>
  <li>
    <%= route.kind %> |
    <%= route.grade %> |
    <%= link_to "View Route", place_route_path(@place, route), :class => "list-link" %>
  </li>
  <% end %>
</ul>
<% end %>

<p><%= link_to "Add a Route", new_place_route_path(@place), id: "new_place_route_link", :class=> "btn btn-default special", remote: true %></p>
<p><%= link_to "Edit Place", edit_place_path(@place), id: "edit_place_link", :class=> "btn btn-default generic", remote: true %></p>
<p><%= link_to "Delete Place", place_path(@place),
                        :data => {:confirm => "Are you sure?",
                                  :method => "delete"}, :class=> "btn btn-default delete" %></p>
